@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

:root {
  --background: oklch(0.9838 0.0035 247.8583);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.5774 0.1996 258.3274);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.5774 0.1996 258.3274);
  --chart-1: oklch(0.5774 0.1996 258.3274);
  --chart-2: oklch(0.7533 0.1208 236.8376);
  --chart-3: oklch(0.6472 0.1368 240.3791);
  --chart-4: oklch(0.5721 0.137 243.5115);
  --chart-5: oklch(0.4702 0.1136 243.6425);
  --sidebar: oklch(0.9838 0.0035 247.8583);
  --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary: oklch(0.5774 0.1996 258.3274);
  --sidebar-primary-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.5774 0.1996 258.3274);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(222.2 47.4% 11.2%);
  --shadow-2xs: 0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.05);
  --shadow-xs: 0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.05);
  --shadow-sm:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.1), 0px 1px 2px -1px
    hsl(222.2 47.4000% 11.2000% / 0.1);
  --shadow:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.1), 0px 1px 2px -1px
    hsl(222.2 47.4000% 11.2000% / 0.1);
  --shadow-md:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.1), 0px 2px 4px -1px
    hsl(222.2 47.4000% 11.2000% / 0.1);
  --shadow-lg:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.1), 0px 4px 6px -1px
    hsl(222.2 47.4000% 11.2000% / 0.1);
  --shadow-xl:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.1), 0px 8px 10px -1px
    hsl(222.2 47.4000% 11.2000% / 0.1);
  --shadow-2xl: 0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.25);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1371 0.036 258.5258);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.1371 0.036 258.5258);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.1371 0.036 258.5258);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.5774 0.1996 258.3274);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.28 0.0369 259.974);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.28 0.0369 259.974);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.28 0.0369 259.974);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.28 0.0369 259.974);
  --input: oklch(0.28 0.0369 259.974);
  --ring: oklch(0.5774 0.1996 258.3274);
  --chart-1: oklch(0.5774 0.1996 258.3274);
  --chart-2: oklch(0.7533 0.1208 236.8376);
  --chart-3: oklch(0.6472 0.1368 240.3791);
  --chart-4: oklch(0.5721 0.137 243.5115);
  --chart-5: oklch(0.4702 0.1136 243.6425);
  --sidebar: oklch(0.1371 0.036 258.5258);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.5774 0.1996 258.3274);
  --sidebar-primary-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-accent: oklch(0.28 0.0369 259.974);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.28 0.0369 259.974);
  --sidebar-ring: oklch(0.5774 0.1996 258.3274);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(222.2 47.4% 11.2%);
  --shadow-2xs: 0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.25);
  --shadow-xs: 0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.25);
  --shadow-sm:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.5), 0px 1px 2px -1px
    hsl(222.2 47.4000% 11.2000% / 0.5);
  --shadow:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.5), 0px 1px 2px -1px
    hsl(222.2 47.4000% 11.2000% / 0.5);
  --shadow-md:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.5), 0px 2px 4px -1px
    hsl(222.2 47.4000% 11.2000% / 0.5);
  --shadow-lg:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.5), 0px 4px 6px -1px
    hsl(222.2 47.4000% 11.2000% / 0.5);
  --shadow-xl:
    0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 0.5), 0px 8px 10px -1px
    hsl(222.2 47.4000% 11.2000% / 0.5);
  --shadow-2xl: 0px 4px 0.8rem 0rem hsl(222.2 47.4000% 11.2000% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground tracking-normal;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
